@model CheezeMVC.Models.Cheeze

@{
    ViewData["Title"] = "Add";

}

<h1>Add Cheese</h1>

<form method="post">
    <p>Enter name of the cheese here:</p>

    <input name="Name" type="text" />
    <p>Enter description here</p>

    <input name="Description" type="text" />
    <input type="submit" value="Add Cheese" />
</form>

